@namespace GamePadCMS_Website.Components

@* Reusable component for features *@
<div class="feature-card">
    <div class="feature-icon">
        <img src="@Icon" alt="@Title Logo" />
    </div>
    <h3 class="feature-title">@Title</h3>
    <p class="feature-description">@Description</p>
</div>

@code {
    [Parameter] public string Icon { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
}
