@inherits LayoutComponentBase

@using GamePadCMS_Website.Components

<div class="main-layout">

    <div class="top-bar">

        <a class="application-logo" href="/">
            GamePadCMS
        </a>


        <div class="top-actions">
            <a href="https://dashboard.gamepadcms.com/" target="_blank" class="btn-login">
                Login
            </a>
            <a href="https://dashboard.gamepadcms.com/user-register" target="_blank" class="btn-login">
                Register
            </a>
        </div>



    </div>

    <main>
        @Body
    </main>

    <Footer />
</div>
